html {
    height: 100%; /* <------------ */
}

body {
    text-align: center;
    height: 100%; /* <------------ */
}
#wrapper {
    display: table;
    width: 100%;
    height: 100%;
}
#wrapper > div {
    display: table-row;
}
#wrapper > div > div {
    display: table-cell;
}
#top,
#bottom {
    height: 50px;
}
#wrapper > div > #topleft,
#wrapper > div > #middleleft,
#wrapper > div > #bottomleft {
    width: 300px;
}
#wrapper > div > #middleleft {
    background: #34495E;
}
#wrapper > div > #middleright {
    background: #EEEEEE;
}
#wrapper > div > #topright,
#wrapper > div > #bottomright {
    background: #FFF;
}
#wrapper > div > #topleft,
#wrapper > div > #bottomleft {
    background: #FFF;
}

.container{
    margin-top:30px;
}

.filter-col{
    padding-left:10px;
    padding-right:10px;
}