<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header col-sm-2">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"></button>
            <a class="navbar-brand" href="#">INTRANET MUSIC PLAYER</a>
        </div>
        <div class="col-sm-8 col-sm-offset-2 ">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#contains">GENRES</a></li>
                        <li><a href="#its_equal">BAND</a></li>
                        <li><a href="#greather_than">SONG NAME</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <button class="btn btn-default col-lg-12" disabled style="height: 75px;">MENU</button><br>
            <a routerLink="/home"><button class="btn btn-default col-lg-12" style="height: 75px;">HOME</button></a><br>
            <a routerLink="/login"><button class="btn btn-default col-lg-12" style="height: 75px;">LOG IN</button></a><br>
            <a routerLink="/playlists"><button class="btn btn-default col-lg-12" style="height: 75px;">PLAYLISTS</button></a><br>
            <a routerLink="/genres"><button class="btn btn-default col-lg-12" style="height: 75px;">GENRES</button></a><br>
            <a routerLink="/songs"><button class="btn btn-default col-lg-12" style="height: 75px;">SONGS</button></a><br>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>MOST VALORATED SONGS</p>
            </div>
            <div class="well">
                <p>MOST FOLLOWED PLAYLISTS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center" style="background-color: #222; color: whitesmoke ; height: 50px">
    <p>FOOTER OF THE PAGE</p>
</footer>