<!--KO B-->

<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">

<nav class="navbar navbar-default navbar-fixed-top topbar">
	<div class="container-fluid" >

		<div class="navbar-header" >

			<a routerLink="/home/user" class="navbar-brand">
				<span class="visible-xs">MUSIC</span>
				<span class="hidden-xs">MUSIC PLAYER</span>
			</a>
			<p class="navbar-text">
				<a class="sidebar-toggle">
					<i class="fa fa-bars"></i>
				</a>
			</p>
		</div>
		<div class="navbar-collapse collapse" id="navbar-collapse-main">
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<button class="navbar-btn" data-toggle="dropdown">
							<img src="http://lorempixel.com/30/30/people" class="img-circle">
						</button>
					<ul class="dropdown-menu">
						<li><a routerLink="/home/user">My profile</a></li>
						<li class="nav-divider"></li>
						<li><a (click)="logOut()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<article class="wrapper">
	<aside class="sidebar">
		<ul class="sidebar-nav">
			<li><a routerLink="/home/user"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
			<li><a routerLink="/home/playlists"><i class="glyphicon glyphicon-tasks"></i> <span>Playlists</span></a></li>
			<li><a routerLink="/home/songs"><i class="glyphicon glyphicon-music"></i> <span>Songs</span></a></li>
			<li><a routerLink="/home/artist"><i class="glyphicon glyphicon-user"></i> <span>Artists</span></a></li>
			<li><a routerLink="/home/genres"><i class="fa fa-envelope"></i> <span>Genres</span></a></li>
			<li><a routerLink="/home/albums"><i class="fa fa-envelope"></i> <span>Albums</span></a></li>
			<li><a routerLink="/home/search"><i class="glyphicon glyphicon-search"></i> <span>Search</span></a></li>
		</ul>
	</aside>
	<section class="main" style="padding-top: 50px;">
		<router-outlet></router-outlet>
	</section>
</article>



<!--REMEMBER ME + LOSE YOURSELF-->
<!--
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header col-sm-2">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"></button>
            <a class="navbar-brand" routerLink="/home">MUSIC PLAYER 27/03</a>
        </div>
        <div class="col-sm-8 col-sm-offset-2 ">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a (click)="value=GENRERE">GENRES</a></li>
                        <li><a href="#its_equal">BAND</a></li>
                        <li><a href="#greather_than">SONG NAME</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" >
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="card hovercard">
                <div class="avatar">
                    <a routerLink="/home"><img alt="" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQCR9JHd5eJOkuA_UXuBd6gNvfY6BouLktZL0E5y6kLKJKTRqTcE5MLG64">{{currentUser.username}}
                    </a>
                </div>
            </div>
            <button class="btn btn-default col-lg-12" disabled style="height: 100%; width: 100%;">MENU</button><br>
            <a routerLink="/home/user"><button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;">HOME</button></a><br>
            <a routerLink="/home/playlists"><button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;">PLAYLISTS</button></a><br>
            <a routerLink="/home/genres"><button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;">GENRES</button></a><br>
            <a routerLink="/home/songs"><button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;">SONGS</button></a><br>
            <button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;" (click)="logOut()">LOG OUT</button>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>MOST VALORATED SONGS</p>
            </div>
            <div class="well">
                <p>MOST FOLLOWED PLAYLISTS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center" style="background-color: #222; color: whitesmoke ; height: 50px">
    <p>FOOTER OF THE PAGE</p>
</footer>-->
