<!--KO B-->

<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">

<nav class="navbar navbar-default navbar-fixed-top topbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home/user" class="navbar-brand">
                <span class="visible-xs">MUSIC</span>
                <span class="hidden-xs">MUSIC PLAYER</span>
            </a>
            <p class="navbar-text">
                <a class="sidebar-toggle">
                    <i class="fa fa-bars"></i>
                </a>
            </p>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <button class="navbar-btn btn-danger" data-toggle="dropdown">MY PROFILE</button>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/home/user">My profile</a></li>
                        <li class="nav-divider"></li>
                        <li><a (click)="logOut()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<article class="wrapper">
    <aside class="sidebar">
        <ul class="sidebar-nav">
            <li><a routerLink="/home/user"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
            <li><a routerLink="/home/playlists"><i class="glyphicon glyphicon-tasks"></i> <span>Playlists</span></a></li>
            <li><a routerLink="/home/songs"><i class="glyphicon glyphicon-music"></i> <span>Songs</span></a></li>
            <li><a routerLink="/home/artist"><i class="glyphicon glyphicon-user"></i> <span>Artists</span></a></li>
            <li><a routerLink="/home/genres"><i class="fa fa-envelope"></i> <span>Genres</span></a></li>
            <li><a routerLink="/home/albums"><i class="fa fa-envelope"></i> <span>Albums</span></a></li>
            <li><a routerLink="/home/search"><i class="glyphicon glyphicon-search"></i> <span>Search</span></a></li>
        </ul>
    </aside>
    <section class="main" style="padding-top: 50px;">
        <router-outlet></router-outlet>
    </section>
</article>
