<!--KO B-->

<link href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css" rel="stylesheet" media="screen">

    <nav class="navbar navbar-default navbar-fixed-top topbar">
		<div class="container-fluid">

			<div class="navbar-header">

				<a href="#" class="navbar-brand">
					<span class="visible-xs">KL</span>
					<span class="hidden-xs">Kaitani Labs</span>
				</a>
				<p class="navbar-text">
					<a class="sidebar-toggle">
                        <i class="fa fa-bars"></i>
                    </a>
				</p>
			</div>
			<div class="navbar-collapse collapse" id="navbar-collapse-main">
				<ul class="nav navbar-nav navbar-right">              
                    <li>
                        <button class="navbar-btn">
                            <i class="fa fa-bell"></i>
                        </button>
                    </li>
                    
					<li class="dropdown">
						<button class="navbar-btn" data-toggle="dropdown">
							<img src="http://lorempixel.com/30/30/people" class="img-circle">
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Account</a></li>
							<li><a href="#">Dashboard</a></li>
							<li class="nav-divider"></li>
							<li><a href="#">Logout</a></li>
						</ul>
					</li>

				</ul>

			</div>
		</div>
	</nav>
	
	<article class="wrapper">
	    
	    <aside class="sidebar">
	        <ul class="sidebar-nav">
			    <li class="active"><a href="#dashboard" data-toggle="tab"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
			    <li><a href="#configuration" data-toggle="tab"><i class="fa fa-cogs"></i> <span>Configuration</span></a></li>
			    <li><a href="#users" data-toggle="tab"><i class="fa fa-users"></i> <span>Users</span></a></li>
			    <li><a href="#mail" data-toggle="tab"><i class="fa fa-envelope"></i> <span>Mail</span></a></li>
		    </ul>
	    </aside>
	    
	    <section class="main">
	        
	        <section class="tab-content">
	            
	           <section class="tab-pane active fade in content" id="dashboard">
	               
	                <div class="row">
	                   
                        <div class="col-xs-6 col-sm-3">
	                        <div class="panel panel-primary">
	                            <div class="panel-body">
	                                <br/><br/><br/><br/>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="col-xs-6 col-sm-3">
	                        <div class="panel panel-success">
	                            <div class="panel-body">
	                                <br/><br/><br/><br/>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="col-xs-6 col-sm-3">
	                        <div class="panel panel-danger">
	                            <div class="panel-body">
	                                <br/><br/><br/><br/>
	                            </div>
	                        </div>
	                    </div>
	                    
	                    <div class="col-xs-6 col-sm-3">
	                        <div class="panel panel-warning">
	                            <div class="panel-body">
	                                <br/><br/><br/><br/>
	                            </div>
	                        </div>
	                    </div>
	                   
	                   <div class="col-xs-12 col-sm-9">
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
	                               Something
	                           </div>
	                           <div class="panel-body">
	                               This layout uses tabs to demonstrate what you could do with it. It probably makes more sense to use individual pages/templates in a production app.
	                               <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	                           </div>
	                       </div>
	                   </div>
	                   
	                   <div class="col-xs-12 col-sm-3">
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
	                               Something
	                           </div>
	                           <div class="panel-body">
	                               The sidebar is naturally responsive according to screen width. You can toggle it using the menu button in the topbar. Test it out by increasing/decreasing your screen width and watch it respond.
	                           </div>
	                       </div>
	                       
	                       <div class="panel panel-default">
	                           <div class="panel-heading">
	                               Kaitani Labs
	                           </div>
	                       </div>
	                   </div>
	                   
	               </div>
	               
	           </section>
	           
	           <section class="tab-pane fade" id="configuration">
	               <nav class="subbar">
			            <ul class="nav nav-tabs">
				            <li class="active"><a href="#access" data-toggle="tab"><i class="fa fa-code"></i> <span>System</span></a></li>
				            <li><a href="#roles" data-toggle="tab"><i class="fa fa-user"></i> <span>Roles</span></a></li>
			            </ul>
		            </nav>
		            
		            <section class="tab-content content">
		                
		                <section class="tab-pane active fade in" id="access">
		                    
                            <div class="row">
                                <div class="col-xs-12">
	                                <div class="panel panel-default">
	                                    <div class="panel-heading">
	                                        Something
	                                    </div>
	                                    <div class="panel-body">
	                                        <br/><br/><br/><br/>
	                                    </div>
	                                </div>
	                            </div>
	                            
	                            <div class="col-xs-12 col-sm-4">
	                                <div class="panel panel-default">
	                                    <div class="panel-heading">
	                                        Something
	                                    </div>
	                                    <div class="panel-body">
	                                        <br/><br/><br/><br/>
	                                    </div>
	                                </div>
	                            </div>
	                            
	                            <div class="col-xs-12 col-sm-4">
	                                <div class="panel panel-default">
	                                    <div class="panel-heading">
	                                        Something
	                                    </div>
	                                    <div class="panel-body">
	                                        <br/><br/><br/><br/>
	                                    </div>
	                                </div>
	                            </div>
	                            
	                            <div class="col-xs-12 col-sm-4">
	                                <div class="panel panel-default">
	                                    <div class="panel-heading">
	                                        Something
	                                    </div>
	                                    <div class="panel-body">
	                                        <br/><br/><br/><br/>
	                                    </div>
	                                </div>
	                            </div>
                            </div>
		                    
		                </section>
		                
		                <section class="tab-pane fade" id="roles">
		                    
		                    <div class="row">
                                <div class="col-xs-12 col-sm-8 col-md-9">
	                                <div class="panel panel-default">
	                                    <div class="panel-heading">
	                                        Something
	                                    </div>
	                                    <div class="panel-body">
	                                        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
	                                    </div>
	                                </div>
	                            </div>
	                            
	                            <div class="hidden-xs col-sm-4 col-md-3">
	                                <div class="panel panel-default">
	                                    <div class="panel-heading">
	                                        Something
	                                    </div>
	                                    <div class="panel-body">
	                                        <br/><br/><br/>
	                                    </div>
	                                </div>
	                                
	                                <div class="panel panel-default">
	                                    <div class="panel-heading">
	                                        Something
	                                    </div>
	                                    <div class="panel-body">
	                                        <br/><br/><br/>
	                                    </div>
	                                </div>
	                            </div>
	                       </div>
		                </section>
		                
		            </section>
		            
	           </section>
	           
	           <section class="tab-pane fade" id="users">
	               
	           </section>
	           
	           <section class="tab-pane fade" id="mail">
	               
	           </section>
	           
	        </section>
	        
	        
	                
	        
	    </section>
	    
	</article>



<!--REMEMBER ME + LOSE YOURSELF-->
<!--
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header col-sm-2">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"></button>
            <a class="navbar-brand" routerLink="/home">MUSIC PLAYER 27/03</a>
        </div>
        <div class="col-sm-8 col-sm-offset-2 ">
            <div class="input-group">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    	<span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a (click)="value=GENRERE">GENRES</a></li>
                        <li><a href="#its_equal">BAND</a></li>
                        <li><a href="#greather_than">SONG NAME</a></li>
                    </ul>
                </div>
                <input type="hidden" name="search_param" value="all" id="search_param">
                <input type="text" class="form-control" name="x" placeholder="Search term...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid" >
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="card hovercard">
                <div class="avatar">
                    <a routerLink="/home"><img alt="" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQCR9JHd5eJOkuA_UXuBd6gNvfY6BouLktZL0E5y6kLKJKTRqTcE5MLG64">{{currentUser.username}}
                    </a>
                </div>
            </div>
            <button class="btn btn-default col-lg-12" disabled style="height: 100%; width: 100%;">MENU</button><br>
            <a routerLink="/home/user"><button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;">HOME</button></a><br>
            <a routerLink="/home/playlists"><button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;">PLAYLISTS</button></a><br>
            <a routerLink="/home/genres"><button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;">GENRES</button></a><br>
            <a routerLink="/home/songs"><button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;">SONGS</button></a><br>
            <button class="btn btn-default col-lg-12" style="height: 100%; width: 100%;" (click)="logOut()">LOG OUT</button>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>MOST VALORATED SONGS</p>
            </div>
            <div class="well">
                <p>MOST FOLLOWED PLAYLISTS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center" style="background-color: #222; color: whitesmoke ; height: 50px">
    <p>FOOTER OF THE PAGE</p>
</footer>-->