/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #bdc3c7;
}
.table-filter tbody tr.selected td {
	background-color: #4d4d4d;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}

.table-filter .media-photo {
	width: 75px;
}

.table-filter .media .title {
	color: #2c3e50;
	font-size: 25px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
ul {
    list-style: none; /* Remove list bullets */
    padding: 0;
    margin: 0;
}
