<div class="container-fluid">
  <h3>PLAYLIST PAGE</h3>
</div>

<div class="container-fluid">
  <ul>
    <li *ngFor="let playlist of playlists" (click)="onSelect(playlist); hideme[playlist.playlistId] = ! hideme[playlist.playlistId]" style="background-color:#34495e; color: #FFF">
      <h4 class="title"> <span><img src="http://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/512/Music-icon.png" height="75" width="75"></span> {{playlist.playlistName}} //*NUM CANÇONS :  {{playlist.songs.length}}*//</h4>
      <div [hidden]="!hideme[playlist.playlistId]">
        <ul>
          <li *ngFor="let song of playlist.songs" style="margin-left: 2cm;">
            <h4> {{song.nameSong}}<span class="glyphicon glyphicon-play-circle"></span> <span class="glyphicon glyphicon-remove"> </span><span class="glyphicon glyphicon-star-empty"></span> </h4>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>