<div class="container-fluid">
  <h3>PLAYLIST PAGE</h3>
</div>

<div class="container-fluid">
  <ul>
    <li *ngFor="let playlist of playlists">
      <h4 class="title" (click)="onSelectPlaylist(playlist); hideme[playlist.playlistId] = ! hideme[playlist.playlistId]">
        <span><img src="http://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/512/Music-icon.png" height="75" width="75"></span>{{playlist.playlistName}}
        <span class="badge">{{playlist.songs.length}}</span></h4>
      <div [hidden]="!hideme[playlist.playlistId]">
        <ul>
          <li *ngFor="let song of playlist.songs" style="margin-left: 2cm;">
            <h4 (click)="onSelectSong(song)"> {{song.nameSong}} </h4>
            <audio controls>
              <source src="app/song/{{song.nameSong}}" type="audio/mpeg">
            </audio>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>