<div class="container-fluid">
  <h3>PLAYLIST PAGE</h3>



  <button class="btn btn-default btn-danger" (click)="hideShowNewPlaylist()"><span class="glyphicon glyphicon-plus"></span>NEW</button>
  <div [hidden]="!hideNewPlaylist">
    <form #newP="ngForm">
      <label>NEW PLAYLIST NAME </label>
      <input type="text" placeholder="Playlist name" name="name" ngModel required/>
      <button class="btn btn-default btn-success" (click)="addNewPlaylist(newP.value)">CREATE</button>
    </form>
  </div>
  <div class="col-md-3 col-lg-3">
    <!--<ul>
      <li *ngFor="let playlist of playlists">
        <h4 class="title" (click)="onSelectPlaylist(playlist); hideme[playlist.playlistId] = ! hideme[playlist.playlistId]">
          <span><img src="http://icons.iconarchive.com/icons/dtafalonso/yosemite-flat/512/Music-icon.png" height="75" width="75"></span>{{playlist.playlistName}}
          <span class="badge">{{playlist.songs.length}}</span></h4>
        <div [hidden]="!hideme[playlist.playlistId]">
          <ul>
            <li *ngFor="let song of playlist.songs" style="margin-left: 2cm;">
              <h4 (click)="onSelectSong(song)"> {{song.nameSong}} </h4>
              <audio controls>
                <source src="app/song/{{song.nameSong}}" type="audio/mpeg">
              </audio>
            </li>
          </ul>
        </div>
      </li>
    </ul>-->
    <br>
    <ul>
      <li class="list-group-item" *ngFor="let playlist of playlists">
        <label> {{playlist.playlistName}} </label>
        <div class="pull-right action-buttons">
          <a><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
          <a (click)="following()" class="flag"><span class="glyphicon glyphicon-flag"></span></a>
        </div>
      </li>
    </ul>
  </div>
</div>