	<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h5>Sign up once and listen any of our free music.</h5>
					<form #newUser="ngForm">

            <div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Your Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="username" id="username"  placeholder="Enter your Name" ngModel required/>
								</div>
							</div>
						</div>

            <div class="form-group">
              <label for="userlogin" class="cols-sm-2 control-label">User Login</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="userlogin" placeholder="Enter your Username" ngModel required/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                  <input type="password" class="form-control" name="password" placeholder="Enter your Password" ngModel required/>
                </div>
              </div>
            </div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="email" id="email"  placeholder="Enter your Email" ngModel required/>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button class="btn btn-primary btn-lg btn-block login-button" (click)="registerNewUser(newUser.value)">Register</button>
						</div>

					</form>
				</div>
			</div>
		</div>
